<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ioedufet.github.shahalihridoy.packageandfnfsuggestiongenerator"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="26" />

    <!-- Taking permission to access in call logs -->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--this is the main activity-->
        <activity android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- as phone state reading is an action, it is inserted inside application -->
        <receiver android:name="ioedufet.github.shahalihridoy.packageandfnfsuggestiongenerator.PhoneListener">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".MessageListener">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!--when the phone is booted then this will run the service-->
        <receiver android:name="ioedufet.github.shahalihridoy.packageandfnfsuggestiongenerator.ServiceWaker">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--this service will run in background even if the app is closed-->
        <service
            android:name="ioedufet.github.shahalihridoy.packageandfnfsuggestiongenerator.CallListenerService"
            android:enabled="true"
            android:exported="true"/>

        <service android:name="ioedufet.github.shahalihridoy.packageandfnfsuggestiongenerator.BackgroundServiceMarshmallow"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <!-- this is for hiding ussd call window -->
        <service android:name=".USSDService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
        <intent-filter>
            <action android:name="android.accessibilityservice.AccessibilityService" />
        </intent-filter>
        <meta-data android:name="android.accessibilityservice"
            android:resource="@xml/ussd_accessibility" />
        </service>

    </application>

</manifest>